.btn {
  text-decoration: none;
  font-size: 1.1rem;
  border: none;
  background: none;
  color: white;
}

.btn:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.bold {
  font-weight: bold;
}
