.pill {
  display: flex;
  border-radius: 1em;
  background-color: #1e1e1e;
  width: fit-content;
  height: fit-content;
  padding: 0 .3em 0 .2em;
  position: fixed;
  right: 0;
  margin: .5em .5em;
}

.pill img {
  width: 1.8em;
  height: 1.8em;
  float: left;
  padding-right: 0.2em;
  display: block;
  margin: auto 0 auto 0;
}

.pill p {
  font-weight: 600;
  font-size: .9em;
}