.table {
  border-radius: 0.5em;
  overflow: hidden;
  border-collapse: collapse;
  margin: 0 auto 0 auto;
  text-align: left;
  width: 90%;
}

.table-head {
  background-color: #272727;
  padding: 0 0 0 5px;
}

#table-row {
  background-color: #1e1e1e;
}

.table-data {
  padding: 0 0 10px 5px;
}
