.config_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 1em 0 1em;
}

.save_btn {
  display: inline-block;
  color: white;
  background-color: #04AA6D;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

.save_btn:hover {
  background-color: #33a87d;
}

.item_box {
  border-width: 1px 1px 1px 1px;
  border-color: #36393f;
  border-style: solid;
  border-radius: 0.2em;
  padding: 10px;
  background-color: #1e1e1e;
}

.item_box img {
  width: 75px;
}

.item_box img:hover {
  cursor: pointer;
}

.information {
  width: 100%;
  word-wrap: normal;
  font-size: small;
}

.input {
  background: 0 0;
  border: none;
  border-radius: 0.2em;
  padding: 0.2em;
  border: 1px #2f2f2f solid;
  color: #ffffff;
  width: 80%;
}

.input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* screens less or equals to 800px */
@media (max-width: 800px) {
  .config_form {
    grid-template-columns: 1fr 1fr;
  }
}
