.card {
  background-color: #1e1e1e;
  border-radius: .2em;
  width: 100%;
  margin: 0 0 10px 0;
}

.card_header {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: .2em;
}

.card_header:hover {
  cursor: pointer;
  background-color: rgba(45, 45, 45, 0.2);
}

.card_header span {
  padding: 3px;
  border-radius: .3em;
  margin-right: .4em;
}

.arrow {
  color: #6f6f6f;
  font-weight: bold;
  right: 0;
  margin-left: auto;
  order: 2;
}

.card_content {
  font-size: 13px;
  width: 100%;
  padding: 0 0 5px 0;
  grid-area: auto / 1 / auto / 5;
}

.info {
  background-color: #2f2f2f;
  font-size: 11px;
}