:root {
  --link: #00b0f4;
  --embedTextColor: #dcddde;
  --embedTextColor2: #72767d;
  --embedBackground: #2f3136;
  --fullEmbedBackground: #36393f;
  --side1Background: #2c2e33;
  --side1Background: #2f3136;
  --background-secondary: #2f3136;
  --background-tertiary: #202225;
  --header-secondary: #b9bbbe;
  --interactive-muted: #4f545c;
}

.msgEmbed {
  min-height: 2.75rem;
  position: relative;
  overflow-wrap: break-word;
  user-select: text;
  padding-left: 45px;
}

.contents {
  position: static;
  margin-left: 0px;
  padding-left: 0px;
  text-indent: 0px;
  width: fit-content;
}

.avatar {
  position: absolute;
  left: 0;
  margin-top: calc(4px - 0.125rem);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  flex: 0 0 auto;
  z-index: 1;
}

.username {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #fff;
  display: inline;
  vertical-align: baseline;
  position: relative;
}

.botTag {
  height: 0.9375rem;
  padding: 0px 0.275rem;
  margin-top: 0.075em;
  border-radius: 0.1875rem;
  background: #5961ec;
  font-size: 0.625rem;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-indent: 0px;
  position: relative;
  top: 0.1rem;
  margin-left: 0.25rem;
  line-height: 1.375rem;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.botText {
  position: relative;
  font-size: 9px;
  line-height: 15px;
  text-transform: uppercase;
  text-indent: 0px;
  color: rgb(255, 255, 255);
  font-weight: 550;
}

.timeText {
  font-size: 0.7rem;
  line-height: 1.375rem;
  color: var(--embedTextColor2);
  vertical-align: baseline;
  margin-left: 0.25rem;
  display: inline-block;
  height: 1.25rem;
  cursor: default;
  pointer-events: none;
  font-weight: 550;
}

.messageContent {
  user-select: text;
  text-align: start;
  width: calc(100% - 20px);
}

.embed {
  position: relative;
  display: grid;
  box-sizing: border-box;
  border-radius: 4px;
  border-left: 4px solid var(--fullEmbedBackground);
  background: var(--embedBackground);
  max-width: 100%;
}

.embedAuthorName,
.embedFieldName,
.embedTitle {
    color: #fff;
}

.embedTitle>* {
  line-height: 1.375rem;
}

.messageContent.markup {
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: pre-wrap;
  white-space: break-spaces;
  word-wrap: break-word;
  user-select: text;
  font-weight: 400;
}

.markup em {
  font-style: italic;
}

.markup strong {
  font-weight: 700;
}

.markup {
  font-size: 1rem;
  line-height: 1.375rem;
  user-select: text;
  color: var(--embedTextColor);
  font-weight: 400;
}

.markup a {
  word-break: break-word;
  text-decoration: none;
  cursor: pointer;
}

.anchor {
  color: var(--link);
}

.markup a:hover {
  text-decoration: underline;
}

.markup code {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: var(--background-tertiary) var(--background-secondary);
  background: #2f3136;
  border: 1px solid #202225;
}

.markup pre>code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  border-radius: 4px;
  color: var(--header-secondary);
  text-size-adjust: none;
}

.markup code {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
  background: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
}

.markup code.inline {
  width: auto;
  height: auto;
  padding: .2em;
  margin: -.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
}

blockquote {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.markup>blockquote,
.markup pre {
    max-width: 90%;
}

.embed blockquote {
  max-width: 100%;
}

.blockquote {
  display: flex;
  display: -webkit-box;
}

.blockquote blockquote {
  padding: 0 8px 0 12px;
  box-sizing: border-box;
  text-indent: 0;
}

.blockquote .blockquoteDivider {
  width: 4px;
  border-radius: 4px;
}

.blockquoteDivider {
  background-color: var(--interactive-muted);
}

.markup pre {
  border-radius: 4px;
  padding: 0;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 6px;
  white-space: pre-wrap;
  background-clip: border-box;
}

.embedContainer {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.25rem;
  text-indent: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  margin-right: 10px;
}

.embedContainer>* {
  place-self: start;
}

.embedGrid {
  overflow: hidden;
  max-width: 520px;
  padding: 0.5rem 1rem 1rem 0.75rem;
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-columns: auto min-content;
  max-width: 520px;
}

.embedMargin {
  word-break: break-all;
  margin-top: 8px;
}

.embedAuthorName,
.embedAuthorNameLink,
.embedDescription,
.embedFieldName,
.embedFieldValue,
.embedFooterText,
.embedLink,
.embedProvider-3k5pfl,
.embedTitle,
.embedTitleLink-1Zla9e {
    unicode-bidi: plaintext;
    text-align: left;
}

.embedAuthor {
  display: flex;
  align-items: center;
  grid-column: 1 / 1;
}

.embedAuthorName {
  font-size: 0.875rem;
  font-weight: 550;
}

.embedAuthorIcon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 50%;
}

.embedLink {
  text-decoration: none;
  cursor: pointer;
}

.embedTitle {
  font-size: .8rem;
  font-weight: bold;
  display: inline-block;
  grid-column: 1 / 1;
}

.anchor {
  color: var(--link);
}

.embedDescription {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  grid-column: 1 / 1;
}

.embedDescription,
.embedFieldValue {
    color: var(--embedTextColor);
}

.emoji {
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
}

.embed .emoji {
  width: 18px;
  height: 18px;
}

.embed code {
  border: none;
  background: var(--background-tertiary);
}

.embedFields {
  display: grid;
  grid-column: 1 / 1;
  margin-top: 8px;
  gap: 8px;
  min-width: 0px;
  grid-gap: 8px;
}

.embedField {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: 0px;
}

.embedFieldName {
  font-weight: 600;
  margin-bottom: 2px;
}

.embedFieldValue {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  min-width: 0px;
}

.imageWrapper {
  display: block;
  position: relative;
  user-select: text;
  overflow: hidden;
  border-radius: 3px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.embedImage {
  margin-top: 16px;
  grid-column: 1 / 1;
  border-radius: 4px;
  contain: paint;
  grid-column: 1 / 3;
  max-width: 100%;
}

.broken {
  display: inline-block;
  text-align: center;
  color: rgb(201, 0, 0);
}

.embedImage, .embedThumbnail {
  display: block;
  border-radius: 4px;
}

.embedThumbnail {
  width: 80px;
  height: 80px;
}

.embedThumbnail {
  grid-area: 1 / 2 / 8 / 2;
  margin-left: 16px;
  margin-top: 8px;
  flex-shrink: 0;
  justify-self: end;
  width: 80px;
  height: 80px;
}

.embedImage img,
.embedThumbnail img {
  display: block;
  object-fit: fill;
  border-radius: 4px;
}

.embedThumbnail {
  grid-area: 1 / 2 / 8 / 2;
  margin-left: 16px;
  margin-top: 8px;
  flex-shrink: 0;
  justify-self: end;
  width: 80px;
  height: 80px;
}

.error {
  color: rgb(211, 43, 43);
}

.embedFooter {
  display: flex;
  align-items: center;
  grid-area: auto / 1 / auto / 1;
}

.embedFooter {
  grid-column: 1 / 3;
}

.embedFooterText {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--embedTextColor);
}

.embedFooterSeparator {
  font-weight: 500;
  color: var(--embedTextColor);
  display: inline-block;
  margin: 0px 4px;
}

.embedFooterIcon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
}

.mention {
  background-color: hsla(235, calc(85.6%), 64.7%, 0.3);
  transition: background-color 50ms ease-out, color 50ms ease-out;
  border-radius: 3px;
  padding: 0 2px;
  font-weight: 500;
  position: relative;
}

.mention.channel::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(236,calc(83.3%),92.9%)' fill-rule='evenodd' clip-rule='evenodd' d='M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z'%3E%3C/path%3E%3C/svg%3E");
  width: 1.05rem;
  height: 1.3rem;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  left: .125rem;
  top: 3px;
  display: inline-block;
  margin-right: .125rem;
  color: hsl(236, calc(83.3%), 92.9%);
}

.mention.interactive:hover {
  color: #fff;
  cursor: pointer;
  background-color: hsl(235, calc(85.6%), 64.7%);
}