.wrapper {
  width: 95%;
  margin: 3em auto 0 auto;
}

.gui {
  width: 40%;
  float: left;
}

.preview {
  width: 60%;
  font-family: DsWhitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--fullEmbedBackground);
  float: right;
  margin-bottom: 10px;
}

.icon {
  position: absolute;
  margin: 5px 0 0 -18px;
  padding: 0 5px 0 0;
  width: 15px;
  height: 15px;
}

.inline {
  margin-right: 10px;
}

.checkbox:hover {
  cursor: pointer;
}

.margin {
  margin: 0 3px 0 3px;
}

.add_field {
  font-size: 14px;
  font-weight: bold;
}

.add_field:hover {
  cursor: pointer;
}

.save_embed {
  border-radius: .2em;
  border: none;
  color: #FFFFFF;
  font-size: 1em;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
  padding: .4em .6em;
  font-weight: bold;
  float: left;
  pointer-events: all;
  background-color: #04AA6D;
}

.save_embed:hover {
  background-color: #04aa6dab;
}

.delete_embed {
  border-radius: .2em;
  border: none;
  color: #FFFFFF;
  font-size: 1em;
  transition: all 0.1s;
  cursor: pointer;
  margin: 5px;
  padding: .4em .6em;
  font-weight: bold;
  float: left;
  background-color: #c20000;
}

.delete_embed:hover {
  background-color: #c20000cb;
}

#new_message {
  align-self: flex-end;
  background: none;
  border: none;
  border-radius: .2em;
  font-weight: bold;
  font-size: .9em;
  color: #FFFFFF;
  cursor: pointer;
}

#new_message:hover {
  color: rgba(255, 255, 255, 0.5);
}

.picker {
  margin: 0 auto 0 auto;
}

.current_time {
  position: absolute;
  align-self: flex-start;
  font-weight: bold;
  font-size: .9em;
}

.bar_content {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 0;
}