.wrapper {
  width: 95%;
  margin: 3em auto 0 auto;

}

.gui {
  width: 40%;
  float: left;
  border: 1px red solid;
  border-width: 0 1px 0 0;
}

.preview {
  width: 59%;
  float: right;
  padding: 0 0 5px 0;
}

.icon {
  position: absolute;
  margin: 5px 0 0 -18px;
  padding: 0 5px 0 0;
  width: 15px;
  height: 15px;
}

.inline {
  margin-right: 10px;
}

.checkbox:hover {
  cursor: pointer;
}

.margin {
  margin: 0 3px 0 3px;
}

.add_field {
  font-size: 14px;
  font-weight: bold;
}

.add_field:hover {
  cursor: pointer;
}

.save_embed {
  border-radius: .2em;
  border: none;
  color: #FFFFFF;
  font-size: 1em;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px 5px 20px 30px;
  padding: .4em .6em;
  font-weight: bold;
  background-color: #04AA6D;
  float: left;
}

.save_embed:active {
  background-color: #026d46;
}

#new_message {
  position: absolute;
  right: 1.4em;
  margin-top: -1.7em;
  background: none;
  border: none;
  border-radius: .2em;
  font-weight: bold;
  font-size: .9em;
  color: #FFFFFF;
  cursor: pointer;
}

#new_message:hover {
  color: rgba(255, 255, 255, 0.5);
}
