.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: white;
  padding: 0.5rem;
  max-width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.header_icon {
  height: 2rem;
  width: 2rem;
}

.title_text {
  font-size: 22px;
  font-weight: 600;
  margin-left: 0.75rem;
}